# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Temporary files
tmp/
*.tmp

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
